.Product__image {
    margin-bottom: 1rem;
}

.Product__header{
    font-size: 14px !important;
}

.Product__breadcrumb{
    margin: 1rem 0 !important;
}

.Product__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.Product__price{
    margin: 0 !important; 
}