.App__container_main {
    max-width: 900px !important;
    margin: 0 auto !important;
}

.App__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0 0 0;
}

.App__sticky{
    width: calc(100% + 2rem);
    margin-left: -1rem;
    padding: 1rem;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 999;
    margin-bottom: 1rem;
}